[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "growthcleanr"]
	path = growthcleanr
	url = https://github.com/growth-data-tools/growthcleanr
